<launch>

    <param name="config_file" value="$(find bringup)/config/circulation4-2.yml" />

    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}]: ${message}"/>
  
    <!-- Node for circulation -->
    <node pkg="circulation" type="circulation4.py" name="circulation4_node" output="screen"/>
  
</launch>