<launch>

    <arg name="config_file" default="$(find bringup)/config/circulation4-2.yml"/>

    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}]: ${message}"/>

    <param name="config_file" value="$(arg config_file)" />

    <param name="yolo_path" value="$(find trafficsigns)/models/best.pt" />
  
    <!-- Node for circulation -->
    <node pkg="trafficsigns" type="distance_extractor.py" name="trafficsigns_node" output="screen"/>
  
</launch>